

<h2>Game Over</h2>

<h4> Correct Answer: <%= @answer.first.city_name.downcase %> </h4>

<p><%= @name %>, Your final score is <%= @score %></p>

<form action="/" method="GET">
  <input type="submit" value="Home">
</form>


