<h1>Where is this? </h1>


<img src= <%= session[:image_array][session[:pic_num]].url %>



 --><!-- Url.find_by(city_id: @city.id) -->

<form action="/game/answer" method="POST">
  <input type="text" name="question[guess]" placeholder="guess">
  <input type="submit" value="Guess">
</form>

<form action="/games/<%= session[:game_id] %>/next_clue" method="GET">
  <input type="submit" value="Next Clue">
</form>


