<h1>What is this? </h1>

<img>
<!-- Url.find_by(city_id: @city.id) -->
<% if @game_over %>
   Sorry this game is over
<% else %>

<form action="/game/answer" method="POST">
  <input type="text" name="question[guess]" placeholder="guess">
  <input type="hidden" name="question[id]" value="@question.id">
  <input type="hidden" name="question[game_id]" value=" <%= @game.id %> ">
  <input type="submit" value="Guess">
</form>

<% end %>
