<h1>Where is this? </h1>


<img src= <%= @url_array[@pic_num] %> >
<!-- Url.find_by(city_id: @city.id) -->

<form action="/game/answer" method="POST">
  <input type="text" name="question[guess]" placeholder="guess">
  <input type="submit" value="Guess">
</form>

<form action="/games/next_clue" method="GET">
  <input type="submit" value="Next Clue">
</form>

<p><%= @url_array %></p>

