
<div class="header">
  <h1>Welcome To CityIQ!!!</h1>
</div>

<div class="container">
  <h3>Scoreboard</h3>

  <table>
    <tr>
      <td> User </td>
      <td> Score </td>
    </tr>
    <% @scoreboard.each do |game| %>
    <% if game.user %>
      <tr>
        <td> <%= game.user.name %> </td>
        <td><%= game.score %></td>
      </tr>
    <% end %>
    <% end %>
  </table>
</div>

<div class="footer">
  <form action="/games/new" method="GET">
      <input type='submit' value='Start New Game' id="button">
    </form>



</div>
