<div class="container">
  <h1>Welcome To CityIQ!!!</h1>

  <h3>Scoreboard</h3>

  <table>
    <tr>
      <td> User </td>
      <td> Score </td>
    </tr>
   <% @scoreboard.each do |game| %>
      <tr>
        <td> <%= game.user.name %> </td>
        <td><%= game.score %></td>
      </tr>
    <% end %>
  </table>



</div>
